---
layout: page
title: Tags
permalink: /blog/archive/
---

<div id="tags-div">
{% include tags.html %}
<hr/>
<div id="tag-list">
{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in tags %}
	<h3 id="{{ tag | slugify }}">{{ tag }}</h3>
	<ul>
	 {% for post in site.posts %}
		 {% if post.tags contains tag %}
		 <li>
		 <h4>
		 <a href="{{ post.url }}">
		 {{ post.title }}
		 <small style="margin-left:10px;">{{ post.date | date_to_string }}</small>
		 </a>
		 </h4>
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
</div>
</div>
